<div class="container">
  <h2>Cart</h2>
  <div class="cart-head">
    <h5 class="cart-item-title"><b>Title</b></h5>
    <div><b>Quantity</b></div>
    <div><b>Price</b></div>
    <div><b>Total</b></div>
  </div>
  <div class="cart-items-container" *ngFor="let item of cart">
    <div class="cart-item">
      <p class="cart-item-title">{{ item.Title }}</p>
      <div class="cart-quantity">
        <button class="btn">+</button>
        <p>{{ item.quantity }}</p>
        <button class="btn" (click)="decreaseFromCart(movieIncart)">-</button>
      </div>
      <p>{{ item.Price }}</p>
      <p>{{ item.total }}</p>
    </div>
  </div>
</div>
