<div class="container">
  <div *ngIf="selectedMovie === undefined; else selectedMovieToDisplay">
    <h3 class="text-center">Go back and select a movie to display!</h3>
  </div>
  <ng-template #selectedMovieToDisplay>
    <div class="selected-movie-container">
      <h2>{{ selectedMovie.Title }}</h2>
      <img
        src="{{ selectedMovie.ImgUrl }}"
        alt="{{ selectedMovie.Title }}"
        class="selected-movie-img"
      />
      <p>{{ selectedMovie.Descr }}</p>
      <p>Release year: {{ selectedMovie.ReleaseYear }}</p>
      <h5 class="text-right">{{ selectedMovie.Price }} SEK</h5>
      <button class="btn btn-outline-info" (click)="addToCart()">
        Add to cart
      </button>
    </div>
  </ng-template>
</div>
