div {
  .movie-img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  .movie-descr {
    min-height: 120px;
    max-height: 120px;
    overflow: scroll;
  }
  .price-tag {
    display: block;
    text-align: right;
    margin-right: 0.5rem;
  }
  .product-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    button {
      margin-left: 0.5rem;
    }
  }
}
