<div class="movie-container">
  <h3>{{ movie.Title }}</h3>
  <p>{{ movie.Id }}</p>
  <img src="{{ movie.ImgUrl }}" alt="{{ movie.Title }}" class="movie-img" />
  <div class="movie-descr">{{ movie.Descr }}</div>
  <p>{{ movie.ReleaseYear }}</p>
  <p>
    <b class="price-tag">{{ movie.Price }} SEK</b>
  </p>

  <button class="btn btn-outline-info" (click)="addToCart($event)">
    Add to cart
  </button>
  <button class="btn btn-outline-info">
    <a routerLink="product/{{ movie.Id }}" routerLinkActive="active">
      Read more</a
    >
  </button>
</div>
