nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      &.active {
        text-decoration: overline;
        color: palevioletred;
      }
    }
  }
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
  .footer-content {
    display: flex;
    justify-content: space-between;

    p {
      color: #4fc4d6;
    }
  }
}
