<header>
  <nav class="mt-3">
    <ul>
      <li>
        <a
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="products" routerLinkActive="active">Movies</a>
      </li>
      <li>
        <a routerLink="checkout" routerLinkActive="active">Cart</a>
      </li>
      <li>
        <a routerLink="admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </nav>
</header>
<main class="mt-5">
  <router-outlet></router-outlet>
</main>
<footer class="mt-5">
  <div class="footer-content">
    <p>myMovieshop</p>
    <p>Nina Abbasi Österberg</p>
    <p>FED19S</p>
    <p>Juni 2020</p>
  </div>
</footer>
