div#search-container {
  input {
    border-radius: 0.4rem;
    line-height: 1.7rem;
    padding: 0.3rem;
  }
  ul {
    list-style-type: none;
    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
      #search-result {
        width: 30%;
        display: inline-flex;
        justify-content: space-between;

        img {
          width: 14%;
        }

        p {
          margin-left: 0.3rem;
          flex-grow: 1;
          text-align: left;
        }
      }
    }
  }
}
